{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block title %}
Contact me
{% endblock title %}

{% block content %}
<h1>Contact page</h1>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
<li{% if message.tags %} class="{{message.tags}}" {%endif%}>{{ message }} </li>
{% endfor %}
</ul>
{% endif %}
<form method='post' action="{% url 'home:contact' %}">
    {% csrf_token %}
    {{form | crispy}}
    {% comment %} {{form.as_p}} {% endcomment %}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %}