{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block title %}
Contact me
{% endblock title %}

{% block content %}
<h1>Contact page</h1>

{% if messages %}
<div class="messages">
    {% for message in messages %}
        <div class="{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
</div>

<script>
    // Hide the success message after 1 seconds (adjust as needed)
    setTimeout(function() {
        document.querySelector('.messages').style.display = 'none';
    }, 1000);
</script>

{% endif %}
<form method='post' action="{% url 'home:contact' %}">
    {% csrf_token %}
    {{form | crispy}}
    {% comment %} {{form.as_p}} {% endcomment %}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %}